
html{
	height: auto;
}
body{
	position: center;
}

.outer-clock-face {
	position: relative;
	width: 200px;
	height: 200px;
	border: 2px solid black;
	border-radius: 50%;
	margin: auto;


}

.hour-hand,
.min-hand,
.second-hand {
	position: absolute;
	background-color: black;
	transform-origin: 50% 100%;
}

.hour-hand {
	width: 8px;
	height: 60px;
	top: 50%;
	left: 50%;

}

.min-hand {
	width: 4px;
	height: 80px;
	top: 50%;
	left: 50%;
}

.second-hand {
	width: 2px;
	height: 90px;
	top: 50%;
	left: 50%;
	
}

.inner-clock-face {
	position: absolute;
	width: 12px;
	height: 12px;
	background-color: black;
	border-radius: 50%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}